@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-image: url("/assets/website_background_rainy_day_made_in_vrchat.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    animation: fadeIn 1s ease;
}

.container {
    background-color: rgba(0, 0, 0, 0.356);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
}

h1 {
    color: #ffffff;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.button {
    font-family: 'Inter', sans-serif;
    background-color: rgba(76, 175, 80, 0.3);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: rgba(69, 160, 73, 0.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}