body {
    background-image: url("assets/website_background_rainy_day_made_in_vrchat.png");
    background-size: cover;
    color: white;
    font-family: "Inter", sans-serif;
    animation: fadeIn 1s ease;
    text-align: center;
    overflow: hidden;
}

.central_panel {
    max-width: 900px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h1 {
    font-weight: bold;
}


.main_card {
    background-color: rgba(0, 0, 0, 0.385);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    animation: cardFadeIn 1s ease;
}

@keyframes cardFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.buttons {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.186);
    color: white;
    backdrop-filter: blur(5px);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    border: transparent 2px solid;
    -webkit-transition: border 200ms ease-out;
    -moz-transition: border 200ms ease-out;
    -o-transition: border 200ms ease-out;
    transition: border 200ms ease-out;

}

.buttons:hover {
border-color: white;

}

.social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

.profile_image {
    border-radius: 20px;
}